@media screen and (min-width: 992px) {
  .skill-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
  }
}

@media screen and (max-width: 992px) {
  .skill-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    padding: 0px 88px;
  }
}

.skill-cards {
  margin-bottom: 100px;
}

.skill-card {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  box-shadow: 0 7px 30px 0px rgb(101 98 207 / 21%);
  border-radius: 16px;
}

.skill-title {
  text-align: center;
  font-weight: bold;
  padding: 16px;
}

.skill-card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  width: 30%;
  padding: 5px;
}
